@font-face {
    font-family: Nunito-Bold;
    src: url('/css/fonts/Nunito-Bold.ttf');
    font-display: swap;
    font-weight: Bold;
}

@font-face {
    font-family: Nunito-BoldItalic;
    src: url('/css/fonts/Nunito-BoldItalic.ttf');
    font-display: swap;
    font-weight: normal;
}