
@font-face {
  font-family: 'UTMSwiss721BlackCondensed';
  src: url('UTMSwiss721BlackCondensed.eot?#iefix') format('embedded-opentype'),  url('UTMSwiss721BlackCondensed.woff') format('woff'), url('UTMSwiss721BlackCondensed.ttf')  format('truetype'), url('UTMSwiss721BlackCondensed.svg#UTMSwiss721BlackCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
