/* CSS Document */



body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background: url(../images/body.jpg);
}
.wraper {
    background: url(../images/side.jpg) repeat-y left;
    padding-left: 16px;
}
.viewpage {
    min-width: 1040px;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
    padding: 5px;
    padding-top: 45px;
    min-height: 600px;
}
#leftcol {
    float: left;
    margin-left: 21px;
    width: 225px;
}
.tablecontent .leftcol {
    width: 225px;
}
.menuleft {
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #c3c3c3;
}
.menuleft li {
    list-style: none;
    line-height: 30px;
    font-weight: bold;
}
.menuleft li a i {
    margin-right: 5px;
}
.menuleft li a {
    display: none;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #fff;
    line-height: 30px;
    color: #6a6a6a;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0 );
    padding-left: 5px;
}
.menuleft li a:hover {
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e8e8e8', GradientType=0 );
}
.breadLine {
    height: 28px;
    box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    -webkit-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    background: url(../images/backgrounds/breadcrumbs.png) repeat-x;
    border-bottom: 1px solid #c3c3c3;
}
.c {
    clear: both;
}
.c5 {
    clear: both;
    height: 5px;
}
.c10 {
    clear: both;
    height: 10px;
}
.c15 {
    clear: both;
    height: 15px;
}
.c20 {
    clear: both;
    height: 20px;
}
.divider1 {
    height: 0;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #f5f5f5;
    position: relative;
    margin: 10px 0;
}
.divider1 > span {
    position: absolute;
    left: 50%;
    margin-left: -21px;
    background: url(../images/div.png) no-repeat 50%;
    width: 36px;
    padding: 0 3px;
    height: 9px;
    display: block;
    top: -4px;
}
.wraper-content {
    padding: 10px;
}
.center {
    text-align: center !important;
}
.fr_location {
    padding: 0px;
    margin: 0px;
    width: 300px;
    float: left;
}
.fr_location li {
    line-height: 25px;
    list-style: none;
    padding-left: 5px;
}
.fr_location li.title {
    font-weight: bold;
    padding-left: 5px;
}
.borderleft-dddddd {
    border-left: solid 1px #dddddd;
}
.borderright-FFF {
    border-right: solid 1px #FFF;
}
.divline {
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #FFF;
    margin-bottom: 3px;
}
.list_item_name {
    font-weight: bold;
    position: relative;
}
.list_item_name a {
    color: #333;
    text-decoration: none;
}
.info_item {
    color: #666;
    font-size: 11px;
}
.search_box {
    border: 1px solid #dddddd;
    border-left-width: 0;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
}
.boxlogin {
    border: solid 1px #c0c0c0;
    width: 350px;
    background: #ebebeb url(../images/bglogin.gif) 50%;
    margin: 0 auto;
    margin-top: 100px;
    -webkit-box-shadow: 5px 5px 10px #ccc;
    -moz-box-shadow: 5px 5px 10px #ccc;
    box-shadow: 0px 0px 30px #999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.boxlogin .title {
    background: url(../images/top.jpg) repeat-x;
    height: 44px;
    color: #FFF;
    font-size: 18px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 44px;
    padding-left: 20px;
}
.lineLogin {
    border-top: solid 1px #c3c3c3;
    border-bottom: solid 1px #FFF;
}
.boxlogin_txt {
    border: solid 1px #c0c0c0;
    width: 290px;
    height: 44px;
    background: url(../images/bgtitlelogin.gif) repeat-x;
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 44px;
    padding-left: 10px;
    padding-left: 10px;
}
.boxlogin_txt .txt {
    width: 170px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.boxlogin_txt span {
    float: left;
    font-weight: bold;
}
.txtform250 {
    width: 250px;
    float: left;
}
.spanalert {
    color: #FF0000;
    margin-left: 5px;
}
.thumblistnews {
    width: 100px;
    float: left;
    margin-right: 5px;
}
.marginright5 {
    margin-right: 5px;
}
.classdisable {
    color: #999;
}
.classenable {
    color: #333;
}
.cell_multi_upload {
    width: 130px;
    height: 90px;
    overflow: hidden;
    float: left;
    margin: 5px;
    border: solid 1px #CCC;
    padding: 2px;
    text-align: center;
    position: relative;
}
.cell_multi_upload .tool {
    background: #000;
    opacity: 0.7;
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #FFF;
}
.cell_multi_upload .tool a {
    color: #FFF;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
}
.cell_multi_upload .tool a:hover {
    text-decoration: underline;
}
.cell_multi_upload .defaultimage {
    position: absolute;
    top: 3px;
    right: 3px;
}
.cellPhoto {
    width: 200px;
    height: 250px;
    border: solid 1px #CCC;
    float: left;
    margin: 5px;
}
.cellPhoto .image {
    height: 160px;
    padding: 2px;
    text-align: center;
    position: relative;
}
.cellPhoto .txtname {
    width: 190px;
    border: solid 1px #CCC;
    border-left: 0px;
    border-right: 0px;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.cellPhoto .textarea {
    height: 50px;
    border: none;
}
.absolute {
    position: absolute;
    top: 2px;
    right: 2px;
}
.cellPhotoList {
    width: 200px;
    height: 160px;
    border: solid 1px #CCC;
    float: left;
    margin: 5px;
    text-align: center;
    position: relative;
}
.cellPhotoList .tool {
    position: absolute;
    top: 2px;
    left: 2px;
    display: none;
}
.cellPhotoList .name {
    background: #000;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    width: 196px;
    color: #fff;
    padding: 2px;
    display: none;
}
.attributeBox {
    width: 300px;
    border: solid 1px #CCC;
    float: left;
    background: #FFF;
    margin-right: 10px;
    margin-bottom: 10px;
}
.attributeBox .title {
    line-height: 25px;
    height: 25px;
    color: #333;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #CCC;
    color: #6a6a6a;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #e6e6e6));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    background: linear-gradient(top, #f7f7f7 0%, #e6e6e6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0 );
}
.attributeBox .trtitle {
    background: #EEE;
    text-align: center;
    font-weight: bold;
    line-height: 25px;
}
.tableattribute {
    border-collapse: collapse;
}
.tableattribute td {
    border: solid 1px #EEE;
    line-height: 20px;
    padding: 2px;
}
.tableattribute td.name {
    padding-left: 5px;
    cursor: pointer;
}
.attributeBox .title .edit {
    width: 29px;
    float: right;
    height: 25px;
}
.attrSelected {
    background: #D9EDF7;
}
.cellHome, .cellContact, .cellCart {
    width: 132px;
    height: 36px;
    padding-top: 128px;
    text-align: center;
    border: solid 1px #CCC;
    float: left;
    margin: 5px;
    border-radius: 3px 3px 3px 3px;
    position: relative;
}
.cellHome {
    background: #F9F9F9 url(../images/folder.png) no-repeat top;
}
.cellContact {
    background: #F9F9F9 url(../images/mail.png) no-repeat top;
}
.cellCart {
    background: #F9F9F9 url(../images/shopping-basket.png) no-repeat top;
}
.cellHome:hover, .cellContact:hover, .cellCart:hover {
    -webkit-box-shadow: 0px 0px 10px #ccc;
    box-shadow: 0px 0px 10px #ccc;
}
.cellHome .name, .cellContact .name, .cellCart .name {
    font-weight: bold;
    color: #333;
}
.cellHome .icon, .cellContact .icon, .cellCart .icon {
    position: absolute;
    top: -5px;
    right: -5px;
}
.marginleft5 {
    margin-left: 5px;
}
.cursorpointer {
    cursor: pointer;
}
.lstQuestion {
    width: 760px;
}
.lstQuestion .lst1 {
    margin: 0px;
    padding: 0px;
    max-height: 400px;
    overflow: auto;
    min-height: 10px;
}
.lstQuestion .title {
    margin-right: 10px;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
    padding-bottom: 3px;
}
.lstQuestion .title .text {
    font-weight: bold;
}
.lstQuestion .lst1 li.list {
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #FFF;
}
.txtlang {
    width: 350px;
    margin-left: 3px;
}
.divlang {
    margin-bottom: 3px;
}
.tab_form {
    border: solid 1px #cdcdcd;
    line-height: 35px;
    border-bottom: none;
    height: 35px;
    background: #fbfbfb;
    background: -moz-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbfbfb), color-stop(100%, #e8e8e8));
    background: -webkit-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: -o-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: -ms-linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    background: linear-gradient(top, #fbfbfb 0%, #e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e8e8e8', GradientType=0 );
    max-width: 998px;
}
.tab_form ul {
    padding: 0px;
    margin: 0px;
    line-height: 35px;
}
.tab_form ul li {
    list-style: none;
    float: left;
    border-right: solid 1px #cdcdcd;
    line-height: 35px;
    padding: 0px 20px 0px 20px;
    color: #0088cc;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
    cursor: pointer;
}
.tab_form ul li.active {
    background: rgb(213,213,213);
    background: -moz-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(240,240,240,1) 49%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(213,213,213,1)), color-stop(49%, rgba(240,240,240,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(240,240,240,1) 49%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(240,240,240,1) 49%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(213,213,213,1) 0%, rgba(240,240,240,1) 49%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(213,213,213,1) 0%, rgba(240,240,240,1) 49%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#ffffff', GradientType=0 );
}
.tab_form ul li:hover {
    background: rgb(242,245,246);
    background: -moz-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(242,245,246,1)), color-stop(37%, rgba(227,234,237,1)), color-stop(100%, rgba(200,215,220,1)));
    background: -webkit-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
    background: -o-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
    background: linear-gradient(to bottom, rgba(242,245,246,1) 0%, rgba(227,234,237,1) 37%, rgba(200,215,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc', GradientType=0 );
}
.tab_form ul li a {
    text-decoration: none;
    display: inherit;
    padding: 0px 20px 0px 20px;
    color: #0088cc;
}
.tabcontent_form {
    max-width: 1000px;
}
.display_none {
    display: none;
}
.noteform {
    font-size: 11px;
    font-style: italic;
    color: #666;
}
.loading {
    background: #FFF url(../images/imgLoading.gif) no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.7;
}
/* dropdownList*/

.dropdownList {
    position: relative;
}
.dropdownList input[type=text] {
    border: solid 1px #CCC;
    background: #FFF url(../images/arrow-down.png) no-repeat right;
    -webkit-border-radius: 3px;
    cursor: pointer;
    width: 96%;
}
.dropdownList ul {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    border: solid 1px #CCC;
    display: none;
    width: 100%;
    z-index: 999999;
    background: #FFF;
    margin-top: -1px;
}
.dropdownList ul li {
    list-style: none;
    width: 100%;
    border-bottom: solid 1px #F2F2F2;
    padding: 4px 0px;
}
.dropdownList ul li:hover {
    background: #0081c2;
    border-bottom: solid 1px #F2F2F2;
    color: #FFF;
}
select option:disabled {
    color: #CCC;
}
.loadingbtn {
    background: url(../images/loading.gif) no-repeat;
    width: 16px;
    height: 16px;
    display: inherit;
    vertical-align: text-top;
    line-height: 16px;
}
.collection_cell {
    float: left;
    width: 200px;
    border: solid 1px #CCC;
    background: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;
}
.collection_cell .txtname {
    width: 190px;
    padding: 4px 5px 4px 5px;
    border: solid 1px #CCC;
    border-left: none;
    border-right: none;
    margin: 0;
    border-radius: 0
}
.collection_cell .txtorder {
    border-radius: 0;
    width: 50px;
    padding: 4px 5px 4px 5px;
    border: solid 1px #CCC;
    border-top: none;
    border-bottom: none;
    margin: 0px !important;
    float: left;
    text-align: center;
}
.collection_cell .labelorder {
    float: left;
    padding: 0;
    margin: 0px 5px 0px 0px;
    line-height: 30px;
}
.collection_cell .image {
    text-align: center !important;
    width: 192px;
    height: 130px;
    padding: 3px;
}
.collection_cell2 {
    float: left;
    width: 200px;
    height: 190px;
    border: solid 1px #CCC;
    background: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;
}
.collection_cell2 .txtname {
    width: 190px;
    padding: 4px 5px 4px 5px;
    border: solid 1px #CCC;
    border-left: none;
    border-right: none;
    margin: 0;
    border-radius: 0
}
.collection_cell2 .txtorder {
    border-radius: 0;
    width: 50px;
    padding: 4px 5px 4px 5px;
    border: solid 1px #CCC;
    border-top: none;
    border-bottom: none;
    margin: 0px !important;
    float: left;
    text-align: center;
}
.collection_cell2 .labelorder {
    float: left;
    padding: 0;
    margin: 0px 5px 0px 0px;
    line-height: 30px;
    white-space: nowrap;
}
.collection_cell2 .image {
    text-align: center !important;
    width: 192px;
    height: 130px;
    padding: 3px;
}
.box-color {
    width: 120px;
    border: solid 1px #CCC;
    height: 80px;
    float: left;
    margin-right: 10px;
}
.box-color a {
    width: 38px;
    height: 38px;
    display: block;
    float: left;
    border: solid 1px #FFF;
    text-align: center;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    line-height: 38px;
    font-size: 19px;
}
.box-color a:hover {
    border: solid 1px #999;
}
.green {
    background-color: #92c92c;
}
.blue {
    background-color: #0095fd;
}
.red {
    background-color: #ff0000;
}
.ping {
    background-color: #bf0063;
}
.blue-violet {
    background-color: #002d92;
}
.orange {
    background-color: #ff7900;
}
.turquoise {
    background-color: #0089a2;
}
.green1 {
    background-color: #009846;
}
.green2 {
    background-color: #19a781;
}
.gray-black {
    background-color: #4c4c4c;
}
#bg_color {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    /*border-bottom:solid 2px #ee312f; */
    font-weight: normal;
    padding: 5px 25px 5px 5px;
    float: left;
    line-height: 28px;
}
#bg_color i {
    margin-right: 5px;
    color: #ee312f;
    font-size: 28px;
    float: left;
}
.bgblue {
    background: url(../../images/bgblue.jpg);
}
.bgred {
    background: url(../../images/bgred.jpg);
}
.bggreen {
    background: url(../../images/bgxanh.jpg);
}
.bggray {
    background: url(../../images/bgnau.jpg);
}
.bgblue, .bgred, .bggreen, .bggray {
    margin: 0px;
    color: #FFF;
}
.bgblue i, .bgred i, .bggreen i, .bggray i {
    margin-right: 5px;
}
.box-add-service {
    width: 800px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFF;
    border: solid 1px #CCC;
    box-shadow: 0px 0px 10px #666;
    display: none;
}
.box-add-service .title {
    background: #EEE;
    height: 40px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
}
.box-add-service .title .close1 {
    background: #ccc;
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
}
.box-add-service .contenttext {
    padding: 10px;
    height: calc(100% - 75px);
    overflow: auto;
}
.proccessupload {
    background: #EEE;
    width: 100%;
    height: 20px;
    border: solid 1px #CCC;
    position: relative;
    text-align: center;
    display: none;
}
.proccessupload div {
    background: #CCC;
    height: 20px;
    width: 0px;
    position: absolute;
    z-index: 1;
}
.proccessupload span {
    position: absolute;
    z-index: 2;
    line-height: 20px;
}

.video-content{
    width:100%;
    margin:0 auto;

}
.expand-all-child, .collapse-all-child, .expand-child{
    cursor:pointer;
}

.hot-item{
    position: absolute;
    top: 5px;
    right: 0px;
    width: 50px;
    height: 20px;
    background: #F00;
    background: url(/images/icon/hot.png) left center no-repeat;
    background-size: 75%;
}

#pic_avatar{
    width: 200px;
}

.hot{
    background: url(/images/icon/hot.png) no-repeat;
    width: 50px;
    height: 30px;
    float: left;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: 80%;

}
