


<!-- START BLOCK : productList -->

 <div class="flex-container">

	<!-- START BLOCK : product_item -->
	<div class="cell-1-4 tab-cell-1-2" style="margin-bottom: 30px;"> 
		<div class="product-item ">
			<a class="hvr-float" href="{link_detail}" title="{name}">{image}</a>

			<div class="c5" ></div>	
			<div style="text-align:center; min-height:19px;">
			<!-- START BLOCK : mausac -->
			<div class="mausac" style="background:#{tenphienban}" >  </div>
			<!-- END BLOCK : mausac -->				
			</div>
			<div class="c5" ></div>
			
			<h3 class="product-name"><a href="{link_detail}" title="{name}">{name}</a></h3>
			<div class="c5" style="border-bottom: solid 1px #EEE;"></div>
			<div class="c10" ></div>
			<div class="pricekm"> {price}  </div>
			<div class="price"><s>{pricekm} </s></div>

			<div class="c5" ></div>
			<div class="star-rate rate4"></div>
			<div class="c20" ></div>
			<div class="c20" ></div>
			<div class="c20" ></div>
			<div class="view-hover">
				<a class="view-more-btn" href="{link_detail}">{_viewmore}</a>
				<a class="buynow-btn" href="{link_cart}">Mua ngay</a>
			</div>

		</div>
	</div>
	<!-- END BLOCK : product_item -->
	<div class="cell-1-4"> </div><div class="cell-1-4"> </div><div class="cell-1-4"> </div>
</div>	
	
<!-- END BLOCK : productList --> 



