
{slideshow}
<div class="c"></div>
{pathpage}

<div class="c20"></div>

<div class="grid">

    
    <div class="homecat-title text-center">
        {cat_name}
    </div>
    <div class="homecat-intro">
        {cat_intro}
    </div>
    <div class="c30"></div>
    
    

    <!-- START BLOCK : albums -->
    
    <!-- START BLOCK : listalbum -->
    
    <div class="c20"></div>
    <div style="max-width:826px; margin:0 auto">
        <div id="wowslider-container1" style="font-size: 10px;">
            <div class="ws_images" style="overflow: visible;">
                <div style="position: relative; width: 100%; font-size: 0px; line-height: 0; max-height: 100%; overflow: hidden;">
                    <link rel="stylesheet" type="text/css" href="/menu_book/style.css">
                </div>
                <div style="position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; overflow: hidden;">
                    <div class="ws_list" style="position: absolute; top: 0px; height: 100%; transform: translate3d(0px, 0px, 0px); width: 1000%; left: 0%;">
                        <div class="ws_swipe_left" style="position: absolute; top: 0px; height: 100%; overflow: hidden; width: 10%; left: -10%;"> </div>
                        <ul style="width: 100%;">
                            <!-- START BLOCK : slider_image --> 
                            <li style="width: 10%;"> <img src="{image_url}" alt="{name}" title="{name}" id="wows1_{stt}" style="visibility: visible;"> </li>
                            <!-- END BLOCK : slider_image -->
                        </ul>
                        <div class="ws_swipe_right" style="position: absolute; top: 0px; height: 100%; overflow: hidden; width: 10%; left: 60%;"></div>
                    </div>
                </div>
                <div class="ws_cover" style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 10; opacity: 0; background: rgb(255, 255, 255);"> <a href="#" style="display: none; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;" target=""></a> </div>
                <div class="ws_effect ws_book" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; opacity: 1;"></div>
                <div style="position: absolute; padding: 0px; z-index: 56; right: 15px; bottom: 15px;"><a href="#" style="position: relative; display: block; font-size: 15px; width: auto; height: auto; font-family: Arial; font-weight: normal; font-style: normal; padding: 1px 5px; margin: 0px; border-radius: 10px; outline: none;" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></div>
                <div class="ws_controls">

                    <a href="#" class="ws_next"><span><i></i><b></b></span></a> <a href="#" class="ws_prev"><span><i></i><b></b></span></a> <a href="#" class="ws_playpause ws_play"><span><i></i><b></b></span></a></div>
            </div>
        </div>
    </div>
    
    
    <!-- END BLOCK : listalbum -->
    <div class="c30"></div>
    
    <!-- END BLOCK : albums -->
    <div class="c30"></div>
    
    <script type="text/javascript" src="/menu_book/wowslider.js"></script> 
    <script type="text/javascript" src="/menu_book/script.js"></script> 
    <div class="c30"></div>
    

</div>
