<div style="background: #FFF;     width: 100%; border-top: solid 3px #f27509; min-height: 500px; " >

    <!--
    <h1 class="page-name">{_cart_check_out} </h1>
    <div class="c5"></div>
    -->
    <div class="c15"></div>
    <div style="margin-left: 20px;">
        <div class="cart-title">
            <h1 class="fl cart-title-name">
                Giỏ hàng
            </h1>
            <div class="c"></div>
        </div>   
    </div>

    <div class="c15"></div>
    
    <div class="cart-success" style="    text-align: center; font-size: 16px;">
            <span>Đơn hàng của bạn đã được gửi thành công.</span><br/> Mã đơn hàng<strong> ORD{order_no}</strong> ,chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất. Cảm ơn bạn !.
        </div>

    <div class="c20"></div>
    
</div>
