<!-- START BLOCK : cart_empty -->
 {msg}
 <!-- END BLOCK : cart_empty -->
<div id="giohang_row">
        <!-- START BLOCK : giohang_row -->
		<div class="c5"></div>
        <div class="flex-container flex-space-between item-cart">
            
            <div class="cell-6-12 mobile-cell-1-1">
			
				<div class="flex-container flex-space-between">
				
					<div class="cell-1-5">
						<a href="{link_detail}" class="cart-image" target="_blank">{giohang_image}</a> 
					
					</div>
					
					<div class="cell-4-5">
						<a href="{link_detail}" class="cart-name" title="View product" target="_blank">{giohang_name}</a>
						<div class="c5"></div>
						<div class="quantity">
							<div class="price-mobile">{giohang_thanhtien}&nbsp;VNĐ&nbsp;{donvitinh}</div>
							<div style="float: left;">
								Số lượng: <input type='text' class="txt-quantity" name='quantity[]' ref="{id_product}" value='{giohang_soluong}'>
							</div>
							<div style="display: flex; align-items: center; gap: 5px; padding-left:20px ;">
								<button class="btn-quantity btn-increase" onClick="increaseQty($(this));">
									<i class="fa-solid fa-plus"></i>
								</button>
								<button class="btn-quantity btn-decrease" onClick="decreaseQty($(this));">
									<i class="fa-solid fa-minus"></i>
								</button>
							</div>
							
							<div class="c10"></div>
							<!-- <div>
								<div class="cart-color" style="background:#{color}"></div> <div style="font-style:italic; line-height:30px;" >{phukien}</div> 
							</div> -->
							
							
						</div>
					
					</div>
				
				
				</div>
                
				
                <input type='hidden' name='id_product[]' value='{id_product}'/>
                <div class="c10"></div>
            </div> 
            <div class="cell-2-12 hide-on-mobile cart-price hd-mb">{giohang_price} VNĐ&nbsp;{donvitinh}</div>
            <div class="cell-3-12 hide-on-mobile cart-price">{giohang_thanhtien}&nbsp;VNĐ&nbsp;{donvitinh}</div>
            
            <div class="cell-1-12 mobile-cell-1-1" style="text-align:left;">
                <a class="remove-cart" href="#" ref="{id_product}" onClick="delItemCart($(this)); return false;">
					<i class="fa-solid fa-x" aria-hidden="true"></i>
                </a>

            </div>
            
        </div>
        <div class="c5"></div>
        <div style="border-bottom:solid 1px #CCC"></div>
        <div class="c5"></div>
        <!-- END BLOCK : giohang_row -->

        <div class="c10"></div>
        
        <div class="total-payment " align="right">Tổng cộng: <span>{giohang_tongtien} đ</span></div>
    </div>