<div style="background: #FFF;     width: 100%; border-top: solid 3px #f27509; min-height: 500px; " >

    <!--
    <h1 class="page-name">{_cart_check_out} </h1>
    <div class="c5"></div>
    -->
    <div class="c30"></div>
	<div class="c30"></div>
	<div class="c30"></div>
    <div class="c30"></div>
    
    <div class="cart-success" style="    text-align: center; font-size: 16px;">
            <span>Yêu cầu của bạn đã được gửi thành công.</span><br/>Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất. Cảm ơn bạn !.
        </div>

    <div class="c20"></div>
    
</div>
