
{slideshow}
<div class="c"></div>
{pathpage}
<div class="c"></div>



<div class="c20"></div>
<div class="grid">

    <a name="map_here"/>


    <h1 class="title-page"><span>{catname}</span></h1>

    <div class="c5"></div>

    <div class="c10"></div>
    <div class="cat-content">{catintro} </div>
    <div class="c10"></div>


    <div class="c20"></div>

    <div class="contact_input" style="margin-bottom:0px;" >

        <form action="#map_here" method="GET">

            <div class="flex-container flex-space-between">
                <div class="cell-3-10 tab-cell-1-1">

                    <select name="prv" id="tinhthanh" class="txt-contact"   >
                        <option value="">----Chọn tỉnh/thành phố----</option>
                        {listProvince}
                    </select>
                </div>

                <div class="cell-3-10 tab-cell-1-1">
                    <select name="dst" id="quanhuyen" class="txt-contact "   >
                        <option value="">----Chọn quận huyện----</option>
                    </select>
                </div>

                <div class="cell-3-10 tab-cell-1-1">
                    <input name="mapkw" type="text" class="txt-contact" placeholder="Tên đường, tỉnh thành, quận huyện, tên đại lý" value="{mapkw}" />
                </div>

                <div class="cell-1-10 tab-cell-1-1">

                    <input class="btn-contact" type="submit" value="Tìm kiếm" />

                </div>

            </div>

            <div class="c20"></div>

        </form>	

        <script>
            $(function () {

                $('#quanhuyen').load('/index4.php?page=ajaxprovider&code=getDistrict&id=' + $('#tinhthanh').val() + '&selectedid=' + {dst});

            });

            $('#tinhthanh').change(function () {
                if ($('#tinhthanh').val() != 0) {
                    $('#quanhuyen').html('<option value="0">Đang nạp dữ liệu..</option>');
                    $('#quanhuyen').load('/index4.php?page=ajaxprovider&code=getDistrict&id=' + $('#tinhthanh').val());
                } else {
                    $('#quanhuyen').html('<option value="0">Chọn quận/huyện..</option>');
                }
            });



        </script>	


    </div>

    <div class="c10"></div>

    <div class="flex-container flex-space-between">

        <div class="cell-1-2 tab-cell-1-1" style="height:500px">

            <Div id="gmap" style="width:100%; height:100%;"></Div> 

        </div>


        <div class="cell-1-2 tab-cell-1-1">

            <div style="padding:15px; background:#0f75bc; color:#FFF; font-family:'Muli-B' ">Tìm thấy {record_count} kết quả  </div>
            <div class="c"></div>
            <div id="controls-tabs"></div>
        </div>



    </div>




</div>




<div class="c10"></div>



<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7&key=AIzaSyAIgsfTgBq_VMoGmDBgoGuuFxkTYA4I2Ks"></script>

<script src="/js/maplace-0.1.3.js"></script>
<script>
            var LocsA = [
                <!-- START BLOCK : lstDaily -->
                {
                    lat: {latitude},
                    lon: {longitude},
                    zoom: 15,
                    title: '<h3 class=\'titlemap\'>{dailyname}</h3>',
                    html: '<h3 class=\'titlemap\'>{dailyname}</h3><p class=\'address\'><i class=\'fa fa-map-marker\'></i> {address} </p> <p class=\'address\'><i class=\'fa fa-phone\'></i>Hotline: {phone} </p> <p class=\'address\'><i class=\'fa fa-envelope\'></i> Email: {email} </p>',

                    icon: '/images/icon-loc.png',
                    animation: google.maps.Animation.DROP
                },
	<!-- END BLOCK : lstDaily --> 




            ];


            new Maplace({
                locations: LocsA,
                view_all: false,
                map_div: '#gmap',
                controls_div: '#controls-tabs',
                controls_type: 'list',
                controls_on_map: false,
                show_infowindow: false,

                afterShow: function (index, location, marker) {
                    $('#info').html(location.html);
                }
            }).Load();

</script>