
{slideshow}
<div class="c"></div>
{pathpage}
<div class="c"></div>



<div class="c20"></div>
<div class="grid">

<a name="map_here"/>


<h1 class="title-page"><span>{catname}</span></h1>

<div class="c5"></div>

<div class="c10"></div>
<div class="cat-content">{catintro} </div>
<div class="c10"></div>


<div class="c20"></div>

<div class="c10"></div>

<div class="form-dangky">

	<form action="{dir_path}/index4.php?page=contact&lang={lang}" method="post" id="dailyform" data-alert="{_ban_can_nhap_thong_tin}" data-captcha ="{_captcha_invalid}" data-success="{_thong_tin_lien_he}" data-redirect="/contact-success/" >
	
		<input type="hidden"  name="code" value="save" />                
		<input type="hidden"  name="tensp" value="Đăng ký đại lý" />                

		<div class="form-title"> Vui lòng điềm thông tin dưới đây </div>
		<div class="c10"></div>
		<div class="form-label" style="text-align:center;"><i> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất </i>  </div>
		<div class="c10"></div>
		<div class="c20"></div>

		<input name="yourname" type="text" class="txt-contact notNull" placeholder="Tên công ty (*)"  />
		<div class="c10"></div>
		
		<input name="nguoidaidien" type="text" class="txt-contact notNull" placeholder="Họ tên chủ doanh nghiệp (*)"  />
		<div class="c10"></div>
		
		<input name="address" type="text" class="txt-contact notNull"  placeholder="Địa chỉ (*)" />
		<div class="c10"></div>

		<input name="phone" type="text" class="txt-contact notNull"  placeholder="Điện thoại (*)"  />
		<div class="c10"></div>
		
		<input name="email" type="text" class="txt-contact notNull"  placeholder="Email (*)" />
		<div class="c10"></div>
		
		<input name="website" type="text" class="txt-contact"  placeholder="Trang web chính thức" />
		<div class="c10"></div>

		<input name="sodkkd" type="text" class="txt-contact "  placeholder="Số đăng ký kinh doanh" />
		<div class="c10"></div>		
		
	
		<div class="c10"></div>
		
		<div class="flex-container flex-space-between">
			<div class="cell-1-3 tab-cell-1-1">
				<div class="c5"></div>
				<div style="position:relative;">
					<input class="newsletter newsletter_b notNull" placeholder="Enter Captcha" name="sercurity"/>
					<img src="{dir_path}/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle" class="imgCaptcha newsletter-capt-img" style="height: 35px; position: absolute; top: 0px; right: 0px; " />
					
				</div>
				
				
			</div>
			<div class="cell-1-3 tab-cell-1-1">
				<input name="input" type="button" onClick="$('#dailyform').submit()" class="btn-dangky" value="Đăng ký đại lý" />
			</div>	
			<div class="cell-1-3 tab-cell-1-1">
				
			</div>	
			
		</div>
		
		<div class="c20"></div>

		<div class="msgbox" style="font-size: 20px; text-align:center;"> </div>		

	</form>				
		

</div>



</div>



    	
<div class="c10"></div>

