{slideshow}
<div class="c"></div>
{pathpage}
<div class="c"></div>

<div class="books-wrapper">
    <div class="c20"></div>

    <div class="homecat-title--spc">
        {catname}
    </div>
    <div class="homecat-intro" style="color:#333">
        {catintro}
    </div>

    <div class="c20"></div>
    <div class="c30 hide-on-mobile"></div>

    <div class="books">
        {menutab}
        <div class="c20"></div>
        <div class="c30 hide-on-mobile"></div>

        <div class="grid">
            <div class="flex-container">
                
                <!-- START BLOCK : downloadItem -->
                <div class="cell-1-4 tab-cell-1-2">
                    <div class="homebook-item">
                        <a href="{files}" class="img-shine" download>
                            {image}
                        </a>
                        <div class="c10"></div>
                        <a href="{files}" class="homebook-item--name text-line-2 text-center" download >
                            {name}
                        </a>
                    </div>
                </div>
                <!-- END BLOCK : downloadItem -->
                
                <div class="cell-1-4 tab-cell-1-2"></div>
                <div class="cell-1-4 tab-cell-1-2"></div>
                <div class="cell-1-4 tab-cell-1-2"></div>
                

            </div>
        </div>
        <div class="c30"></div>
        <div class="c20"></div>
        {pages}
        <div class="c30"></div>
        <div class="c20"></div>
    </div>



</div>