<!--
<div style="background: #1c4d99;">
    <div class="grid" >
        {menufooter}
    </div>
</div>

<a class="js-open-modal  dang-ky-tu-van hide-on-tab" data-modal-id="popupDangKy" href="#">
    <img src="/images/dang-ky-tu-van.gif" width="150"  > 

</a>

-->



<!-- START BLOCK : showPopUp -->

<div id="popup_qc" style="max-width:600px; padding:0px;" class="modal-box">
    <a href="#" class="js-modal-close close">[X]</a>

    <div style="text-align:center; color:#FFF; ">
        <a href="{link}?popshowed=1" target="_blank">
            {image}
        </a>
    </div>

</div>

<script>
    setTimeout(showPop, 5000);

    function showPop() {
        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");
        $("body").append(appendthis);
        $(".modal-overlay").fadeTo(500, 0.7);
        $('#popup_qc').fadeIn(500);

    }
</script>
<!-- END BLOCK : showPopUp -->



<div class="c10"></div>
<div class="c20"></div>
<div class="c30"></div>
<div class="c20 hide-on-tab"></div>
<div class="c30 hide-on-tab"></div>
<!-- footer -->
<footer class="footer">

    <div class="grid">
        <div class="content-box">
            <div class="info-container flex-container">
                <div class="cell-2-3 tab-cell-1-1">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12681.467024242354!2d-122.120669!3d37.381158!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb0f234ab0939%3A0xa0dba23271ea5684!2s20%201st%20St%2C%20Los%20Altos%2C%20CA%2094022!5e0!3m2!1svi!2sus!4v1739506488255!5m2!1svi!2sus"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <!-- <img src="/uploaded/san-pham/img-2.jpg" alt="Location Map"> -->
                    </div>
                </div>
                <div class="cell-1-3 tab-cell-1-1">
                    <div class="contact">
                        <h2 class="find-us-here">Find us here</h2>
                        <div class="c10"></div>
                        <div class="line"></div>
                        <div class="c20"></div>
                        <h2 class="location">California </h2>
                        <p>{companyaddress}</p>
                        <hr>
                        <p>📞 {hotline}</p>
                        <p>✉️ {companyemail}</p>
                        <p>🕒 Mon - Fri : 09:00am - 06:00pm</p>
                        <a href="#" class="button">Book Now</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <p>©2024 company.com</p>
    </div>

</footer>
<!-- end footer -->



<div id="popupDangKy" class="modal-box">
    <a href="#" class="js-modal-close close btn-close"> [×] </a>
    <div class="modal-body">

        <div class="dangky">

            <div style="padding:20px; border-radius:10px; min-height:320px; ">


                <form action="{dir_path}/index4.php?page=contact&lang={lang}" method="post" id="regform"
                    data-alert="{_ban_can_nhap_thong_tin}" data-captcha="{_captcha_invalid}"
                    data-success="{_thong_tin_lien_he}" data-redirect="/contact-success/">

                    <input type="hidden" name="code" value="save" />

                    <div class="form-title"> Tư vấn </div>
                    <div class="c10"></div>
                    <div class="form-label" style="text-align:center;"><i> Chúng tôi sẽ liên hệ với bạn trong thời gian
                            sớm nhất </i> </div>
                    <div class="c10"></div>
                    <div class="c20"></div>

                    <input name="yourname" type="text" class="txt-contact notNull" placeholder="Họ tên (*)"
                        id="yourname" />
                    <div class="c10"></div>

                    <input name="phone" type="text" class="txt-contact notNull" placeholder="Điện thoại (*)" />
                    <div class="c10"></div>
                    <input name="address" type="text" class="txt-contact " placeholder="Địa chỉ" />
                    <div class="c10"></div>

                    <select name="other_request" type="text" class="txt-contact">
                        <option value=""> Chọn hình thức tư vấn </option>
                        <option value="Tư vấn mua hàng"> Tư vấn mua hàng </option>
                        <option value="Tìm đại lý, cửa hàng gần nhất">Tìm đại lý, cửa hàng gần nhất </option>

                    </select>
                    <div class="c10"></div>

                    <div style="position:relative;">
                        <input class="newsletter newsletter_b notNull" placeholder="Enter Captcha" name="sercurity" />
                        <img src="{dir_path}/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle"
                            class="imgCaptcha newsletter-capt-img"
                            style="height: 35px; position: absolute; top: 0px; right: 0px; " />

                    </div>


                    <div class="c20"></div>
                    <input name="input" type="button" onClick="$('#regform').submit()" class="btn-send"
                        value="{_send}" />
                    <div class="c5"></div>
                    <div class="msgbox" style="font-size: 20px; text-align:center;"> </div>
                </form>


            </div>

        </div>


    </div>
</div>

<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });

        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });
            return false;
        });


    });
</script>


</div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/js/jquery.mmenu.min.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/4.7.5/css/jquery.mmenu.all.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>



<div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
</div>


<script>
    function check_newsletter() {
        ok = true;
        $('#newsletterForm .error').removeClass('error');
        $('#newsletterForm .notNull').each(function () {
            if ($(this).val() == '') {
                $(this).addClass('error');
                ok = false;
            }
        }
        );
        return ok;
    }

    $(function () {
        $('.countcart').html('({quantity})');
    });
</script>

{menuMobile}

{bottompage}


<!--Share button big
<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons&source=platform" async="async"></script>
-->

<!--Share button small-->
<script type='text/javascript'
    src='https://platform-api.sharethis.com/js/sharethis.js#property=648acdfc93018600124e74fc&product=inline-share-buttons'
    async='async'></script>

<!--
<div class="sharethis-inline-share-buttons"></div>
-->




<link rel="stylesheet" href="/css/widget-call.css" />
<div class="widget_wbt_call_now_widget">
    <div class="float-icon-hotline">
        <ul>
            <li class="hotline_float_icon"><a id="messengerButton" href="tel:{hotline}"><i
                        class="fa fa-hotline animated infinite tada"></i><span>Hotline: {hotline}</span></a></li>
            <li class="hotline_float_icon"><a id="messengerButton" href="//zalo.me/{hotline}" target="_blank"><i
                        class="fa fa-zalo animated infinite tada"></i><span>Nhắn tin qua Zalo</span></a></li>
            <li class="hotline_float_icon"><a id="messengerButton" href="https://m.me/{fb_appid}" target="_blank"><i
                        class="fa fa-messenger animated infinite tada"></i><span>Nhắn tin qua Facebook</span></a></li>

        </ul>
    </div>
</div>



</body>



<!----
☺☺☺ Design by Minh Nguyen. Email nguyensyminh@gmail.com - Hotline : 0968 67 55 68 ☺☺☺
---->

</html>