{slideshow}

{inhome}

<div class="homeservice-wrapper">
    <div class="grid">
        <div class="homeservice" style="position: relative;">
            <div class="c30"></div>
            <div class="swiper slider-homeservice">
                <div class="swiper-wrapper">
                   <!-- START BLOCK : infoHotItem  -->
                    <div class="swiper-slide">
                        <div class="homeservice-item">
                            <div class="c30"></div>
                            <div class="c20"></div>
                            <a href="/">
                             {image}
                            </a>
                            <div class="c20"></div>
                            <div class="homeservice-box">
                                <div class="homeservice-name">
                                    <a href="/"> {name} </a>
                                </div>
                                <div class="c30"></div>
                                <div class="texline-3">
                                   {intro}
                                
                                </div>
                                <div class="c30"></div>
                                <a href="/" class="more-details">More Details</a>
                            </div>
                        </div>
                    </div>
                        <!-- END BLOCK : infoHotItem  -->
                </div>
            </div>
            <div class="slide-btn-prev homeservice-button-prev"><i class="fas fa-chevron-left"></i></div>
            <div class="slide-btn-next homeservice-button-next"><i class="fas fa-chevron-right"></i></div>

        </div>
    </div>

    <script>
        $(function () {
            var slidehomeservice = new Swiper(".slider-homeservice", {
                loop: true,
                spaceBetween: 20,
                autoplay: {
                    delay: 2220, // Chạy tự động sau 2.5 giây
                    disableOnInteraction: true,
                },
                pagination: {
                    clickable: true,
                },
                navigation: {
                    nextEl: ".homeservice-button-next",
                    prevEl: ".homeservice-button-prev",
                },

            });
            $('.slider-homeservice').hover(
                function () { slidehomeservice.autoplay.stop(); }, // Hover vào: dừng
                function () { slidehomeservice.autoplay.start(); } // Rời chuột: chạy tiếp
            );
        });
    </script>

</div>

<!-- START BLOCK : product  -->
<div class="category-light">
    <div class="grid">

        <div class="flex-container">
            <div style="width:10%;"></div>

            <div class="cell-4-5 tab-cell-1-1">

                <h2 class="category-light-title" style="text-align: center;margin: 0;">
                    <a href="{link}">{catname}</a>
                </h2>

                <div class="c10"></div>
                <div class="c10"></div>
                <div class="c5"></div>

                <div style="text-align: center;">
                    {catintro}
                </div>
            </div>


            <div style="width:10%;"></div>
        </div>

        <div class="c10"></div>
        <div class="c5"></div>


        <div class="flex-container">

            <!-- START BLOCK : product_item -->
            <div class="cell-info-1-4 tab-cell-1-2" style="margin-top: 5px;">
                <div class="product-item">
                    <a href="{link_detail}" title="{name}">{image}</a>
                    <div class="product-home-info">

                        <h3 class="product-name"><a style="color: #FFF;" href="{link_detail}" title="{name}">{name}</a>
                        </h3>
                        <div>{attribute}</div>
                        <div class="c5" style="border-bottom: solid 1px #EEE;"></div>
                        <div class="c5"></div>
                        <div class="pricekm">Giá: {price} </div>

                    </div>
                    <div class="product-item-overlay"></div>
                </div>
                <div class="c5"></div>
            </div>
            <!-- END BLOCK : product_item -->
            <div class="cell-info-1-4"></div>
            <div class="cell-info-1-4"></div>
            <div class="cell-info-1-4"></div>

        </div>
    </div>
</div>

<script>
    $(".product-item").hover(function () {
        $(this).find(".product-item-overlay").show();
        $(this).find(".product-home-info").addClass("product-home-info-active");
    }, function () {
        $(this).find(".product-item-overlay").hide();
        $(this).find(".product-home-info").removeClass("product-home-info-active");
    });
</script>

<!-- END BLOCK : product -->

<div class="c20"></div>
<div class="c20 hide-on-pad hide-on-tab"></div>


<!-- dự án -->

<div class="du-an">
    <div class="grid">

        <div class="flex-container">

            <div class="cell-2-3 tab-cell-1-1">
                <!-- START BLOCK : du_an  -->
                <h2 class="du-an-title" style="text-align: left;">
                    <a href="{link}">{catname}</a>
                </h2>
                <div class="line-title"></div>
                <div class="c20"></div>

                <div class="flex-container">
                    <!-- START BLOCK : duanItem  -->
                    <div class="cell-1-2 tab-cell-1-1" style="margin-bottom:10px;">
                        <div class="du-an-img">
                            <a href="{link_detail}" style="color: #fff">
                                {image}
                            </a>
                            <div class="flex_center hover-blur">
                                <a href="{link_detail}" style="color: #fff">
                                    {name}
                                </a>

                            </div>
                        </div>
                    </div>
                    <!-- END BLOCK : duanItem  -->

                </div>



                <!-- END BLOCK : du_an  -->
            </div>

            <div class="cell-1-3 tab-cell-1-1">


                <!-- START BLOCK : article  -->

                <h2 class="du-an-title" style="text-align: left;">
                    <a href="{link}">{catname}</a>
                </h2>
                <div class="line-title"></div>
                <div class="c20"></div>

                <div class="c20"></div>

                <div style="position: relative;">
                    <div class="article-prev btn-prev"> <i class="fa fa-angle-left" aria-hidden="true"></i> </div>
                    <div class="article-next btn-next"> <i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    <div class="swiper-container" id="article">
                        <div class="swiper-wrapper">
                            <!-- START BLOCK : articleItem -->
                            <div class="swiper-slide">
                                <div
                                    style="padding: 15px; position:relative; min-height:320px; background: #FFF; border-radius: 10px; ">
                                    <div class="img-article"><a href="{link_detail}">{image}</a></div>
                                    <div class="c10"></div>
                                    <h3 class="article-name"><a href="{link_detail}">{name}</a></h3>
                                    <div class="c5"></div>
                                    <div style="text-align:center;">{author_info}</div>
                                    <div class="c10"></div>
                                    <div>{intro}</div>
                                </div>
                            </div>
                            <!-- END BLOCK : articleItem -->
                        </div>
                    </div>
                </div>

                <script>
                    var swiper_article = new Swiper('#article', {
                        slidesPerView: 1,
                        autoplay: {
                            delay: 2200,
                            disableOnInteraction: false,
                        },
                        spaceBetween: 20,
                        navigation: {
                            nextEl: '.article-next',
                            prevEl: '.article-prev',
                        },
                        speed: 400,
                        loop: true,
                        breakpoints: {
                            768: {
                                slidesPerView: 1,
                                spaceBetween: 30
                            }
                        }
                    });
                    $('#article').on('mouseover', function () {
                        swiper_article.autoplay.stop();
                    });
                    $('#article').on('mouseout', function () {
                        swiper_article.autoplay.start();
                    });
                </script>

                <div class="c20"></div>


                <!-- END BLOCK : article -->



            </div>




        </div>


    </div>
</div>

<!-- end dự án -->

<div class="c20"></div>
<div class="c30"></div>

<!-- tin tức sự kiện -->

<!-- START BLOCK : news  -->
<div class="news">
    <div class="grid">
        <div class="c10 hide-on-pad hide-on-tab"></div>
        <div class="c10"></div>
        <div class="c30"></div>
        <h2 class="news-title" style="text-align: center;margin: 0;">
            <a href="{link}">{catname}</a>
        </h2>
        <div class="c10"></div>
        <div class="c10"></div>

        <div class="flex-container">
            <!-- START BLOCK : news_item  -->
            <div class="cell-1-3 tab-cell-1-1 pad-cell-1-2">
                <div class="news-item">
                    <a href="{link_detail}">
                        {image}
                    </a>
                    <div class="c10 hide-on-pad hide-on-tab"></div>
                    <div class="c10"></div>
                    <a href="{link_detail}">
                        <div class="text-line-2 news-item__desc">
                            {name}
                        </div>
                    </a>
                    <div class="c10 hide-on-pad hide-on-tab"></div>
                    <div class="c5"></div>
                    <div class="text-line-4 news-intro">
                        {intro}
                    </div>
                    <div class="c30"></div>
                </div>
            </div>
            <!-- END BLOCK : news_item  -->


        </div>

        <div class="c30"></div>
        <div class="c30"></div>

    </div>
</div>
<!-- END BLOCK : news  -->
<!-- end tin tức sự kiện -->

<div class="c20"></div>
<div class="c30"></div>

<!-- đối tác -->

<div class="doi-tac">
    <div class="grid">

        <div class="c10"></div>
        <div class="c5"></div>
        {s_partner}

    </div>
</div>

<!-- end đối tác -->

<div class="c20"></div>
<div class="c10"></div>
<div class="c20 hide-on-pad hide-on-tab"></div>


<!-- Bộ sưu tập -->

<!-- START BLOCK : video  -->

<!-- START BLOCK : youtube  -->
<a data-fancybox href="https://www.youtube.com/watch?v={videocode}">
    {image}
</a>
<!-- END BLOCK : youtube  -->
<!-- END BLOCK : video  -->

<!-- START BLOCK : albumHome  -->
<div class="album">
    <h2 class="album-title" style="text-align: center;margin: 0;">
        <a href="{link}">{catname}</a>
    </h2>
    <div class="c20"></div>
    <div class="c10"></div>
    <div class="swiper-container album-slide" id="album" style="position: relative;">
        <div class="grid" style="position: absolute;top: 50%;left: 50%;transform: translateX(-50%);z-index: 100;">
            <div class="btn-next album-next flex_center hide-on-tab hide-on-pad">
                <img src="/images/icon-next.png" alt="">
            </div>
            <div class="btn-prev album-prev flex_center hide-on-tab hide-on-pad">
                <img src="/images/icon-prev.png" alt="">
            </div>
        </div>

        <div class="swiper-wrapper">
            <!-- START BLOCK : albumItem  -->
            <div class="swiper-slide">

                <a href="{link_detail}">{image}</a>

            </div>
            <!-- END BLOCK : albumItem  -->



        </div>
        <div class="c"></div>
        <script>
            $(function () {
                var swiper_album = new Swiper('#album', {
                    slidesPerView: 3,
                    autoplay: {
                        delay: 2000,
                        disableOnInteraction: false,
                    },
                    spaceBetween: 10,
                    navigation: {
                        nextEl: '.album-next',
                        prevEl: '.album-prev',
                    },
                    speed: 400,
                    loop: true,
                    breakpoints: {
                        739: {
                            slidesPerView: 1,
                            spaceBetween: 30
                        },
                        1023: {
                            slidesPerView: 2,
                            spaceBetween: 10
                        }
                    }
                });
                $('#album').on('mouseover', function () {
                    swiper_album.autoplay.stop();
                });
                $('#album').on('mouseout', function () {
                    swiper_album.autoplay.start();
                });
            });
        </script>
        <div class="c"></div>
    </div>

</div>
<!-- END BLOCK : albumHome  -->
<!-- end bộ sưu tập -->