
{slideshow}
<div class="c"></div>
<div class="mntab">
    <div class="grid">
        {menutab}
    </div>
</div>
<div class="c"></div>

<!-- START BLOCK : infoCatList -->

<!-- START BLOCK : info -->
<!-- START BLOCK : subInfoItem -->
<div class="infovideo-wrapper" style="{background}">
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
    <div class="grid">
        <div class="flex-container">
            <div class="cell-1-2 tab-cell-1-1">
                <div class="homecat-title">
                    {name}
                </div>
                <div class="c10"></div>
                
                
                <div class="" style="text-align: justify;">
                    {intro}
                </div>
                <div class="c30"></div>
                <div class="fancy-video-about">

                    <a data-fancybox="" class="fancybox__link" href="https://www.youtube.com/watch?v={videocode}">
                        <i class="far fa-play"></i> Xem video
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>  
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
</div>
<!-- END BLOCK : subInfoItem -->
<!-- END BLOCK : info -->


<!-- START BLOCK : info_donvi -->
<div class="infotamnhin-wrapper">
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div> 
    <div class="grid">
        <div class="homecat-title text-center">
            {catname}
        </div>
        <div class="homecat-intro">
            {catintro}
        </div>
        <div class="c30"></div>

        <div class="flex-container align-center">
            
            <!-- START BLOCK : info_donvi_item -->
            <div class="cell-1-2 tab-cell-1-1 tamnhin-item">
                <div class="tamnhin-ico">
                    {image}
                </div>
                <div class="c10"></div>
                <div class="tamnhin-name">
                    {name}
                </div>
                <div class="c10"></div>
                <div class="t">
                    {intro}
                </div>
            </div>
            
            <div class="cell-1-2 tab-cell-1-1 tamnhin-item">
                {content}
            </div>
            
            
            <!-- END BLOCK : info_donvi_item -->
            
            
            
            
        </div>


    </div>
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div> 
</div>

<!-- END BLOCK : info_donvi -->


<!-- START BLOCK : infoNews -->
<div class="infogiatri-wrapper">
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>  
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
    <div class="grid" style="position: relative;">
        <div class="homecat-title text-center">
            {catname}
        </div>
        <div class="homecat-intro">
            {catintro}
        </div>
        <div class="c30"></div>
        <div class="flex-container">
            <!-- START BLOCK : infoNewsItem -->
            <div class="cell-1-6 tab-cell-1-1">
                <div class="infogiatri-item">
                    <div class="infogiatri-ico">
                        {image}
                    </div>
                    <div class="infogiatri-name">
                        {name}
                    </div>
                    <div class="infogiatri-intro">
                        {intro}
                    </div>
                </div>
            </div>
            <!-- END BLOCK : infoNewsItem -->
            
            
        </div>
    </div>
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>  
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>  
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>  

</div>
<!-- END BLOCK : infoNews -->


<!-- END BLOCK : infoCatList -->