

{slideshow}
<div class="c"></div>
<div class="mntab">
    <div class="grid">
        {menutab}
    </div>
</div>
<div class="c"></div>

<!-- START BLOCK : itemList -->
<div class="lichsu-wrapper">
    
    <!-- START BLOCK : infoItem -->
    <div class="lichsu-item" id="y2020">
        <div class="cell-lichsu-content cell-1-2 tab-cell-1-1">
            <div class="lichsu-year">
                {name}
            </div>
            <div class="lichsu-content">
                {intro}
            </div>
        </div>
        <div class="cell-lichsu-image cell-1-2 tab-cell-1-1">
            {image}
        </div>
    </div>
    <!-- END BLOCK : infoItem -->
    

</div>

<!-- END BLOCK : itemList -->