            
{slideshow}
<div class="c10"></div>

<div class="grid">

    {pathpage}
    <div class="c20"></div>
</div>  
<div class="c10"></div>

<div class="content-detail">
    <div class="grid">

        <!-- START BLOCK : itemDetail  -->
        <h1 class="title-page" style="text-align:center">{name}</h1>
        <div class="c10"></div>
        <h2 class="sub-title-page" style="text-align:center; width: 100%; color: #eb7203;">{title}</h2>
        <div class="c20"></div>
        <div class="title-line"><span style="margin: 0 auto;"> </span></div>
        <div class="c10"></div>
        <div class="c20"></div>

        <div class="flex-container flex-space-between">
            <div class="cell-2-3 tab-cell-1-1 border-left-pc"> 

                <div style="font-size: 16px; color: #505050; font-family: Helve-B; padding-right: 20px;">
                    {intro}
                    <div class="c20"></div>
                </div>


                <div class="c20"></div>

                <div class="c20" style="border-top: solid 1px #EEE;"></div>

                <div style="text-transform: uppercase; font-size: 26px; color: #505050; font-family: Helve-B;">
                    {_some_picture} {name}
                </div>
                <div class="c10"></div>
                <div style="position: relative; margin-right: 20px;">

                    <div class="swiper-container" id="info_slide">

                        <a href="#" class="partner-prev"> <i class=" fa fa-chevron-left"></i> </a>
                        <a href="#" class="partner-next"><i class=" fa fa-chevron-right"></i></a>
                        <div class="swiper-wrapper"> 
                            <!-- START BLOCK : slider_image -->
                            <div class="swiper-slide">
                                <img src="{image}" />

                            </div>
                            <!-- END BLOCK : slider_image -->      
                        </div>
                    </div>
                </div>
                <div class="c20"></div>

                <script>
                    var swiper_info_slide = new Swiper('#info_slide', {
                        slidesPerView: 2,
                        autoplay: {
                            delay: 2200,
                            disableOnInteraction: false,
                        },
                        spaceBetween: 10,
                        navigation: {
                            nextEl: '.partner-prev',
                            prevEl: '.partner-next',
                        },

                        speed: 400,

                        loop: true,
                        breakpoints: {
                            768: {
                                slidesPerView: 2,
                                spaceBetween: 30
                            },
                            640: {
                                slidesPerView: 1,
                                spaceBetween: 20
                            },
                            320: {
                                slidesPerView: 2,
                                spaceBetween: 10
                            }
                        }
                    });
                    $('#info_slide').on('mouseover', function () {
                        swiper_info_slide.autoplay.stop();
                    });
                    $('#info_slide').on('mouseout', function () {
                        swiper_info_slide.autoplay.start();
                    });


                </script>

            </div>
            <div class="cell-1-3 tab-cell-1-1"> 
                {content}
                <div class="c20"></div>
            </div>


        </div>
        <div class="c20"></div>


        <!-- END BLOCK : itemDetail  -->
    </div>

    <div class="c20"></div>

    <!-- START BLOCK : catDetail  -->
    <div class="grid">        

        <div class="hide-on-tab hide-on-mobile">
            {menutab}
        </div>

        <div class="c30 hide-on-tab hide-on-mobile"></div>
        <div class="c20"></div>
        <h1 class="title-page" style="text-align:center">{name}</h1>
        <div class="c10"></div>
        <div class="title-line"><span style="margin: 0 auto;"> </span></div>
        <div class="c20"></div>
        <div class="" style="margin: 0 auto; max-width: 800px; color: #505050;  text-align: center; font-family: Helve-B;">
            {content}
            <div class="c20"></div>
        </div>
    </div>    

    <div class="c10"></div>
    

    <div style="padding:0px 20px;" class="hide-on-pc hide-on-pad">
        <div class="c20"></div>
        <h3 class="title-other-news"><a>{_viewmore}:</a></h3>
        <div class="c10"></div>
        <ul class="other-article">
            <!-- START BLOCK : otherCategory  -->
            <li><h4 class="news-name-other"><span>■</span> <a href="{link}">{name}</a></h4></li>
            <!-- END BLOCK : otherCategory  -->
        </ul>		
        <div class="c20"></div>
    </div>	

    <script>
        $(document).ready(function (e) {
            $('img[usemap]').rwdImageMaps();
        });
    </script>

    <!-- END BLOCK : catDetail  -->



</div>