<div class="homeinfo-wrapper cat-mobile">

    <div class="flex-container align-center">
        <!-- START BLOCK : cell_cat_home -->
        <div class="cell-1-3 tab-cell-1-1 box">
            <a href="{linkcat}"> {catimage}
                <div class="overlay">
                    <div class="text-content">
                        <div class="line"></div>
                        <p>{catname}</p>
                    </div>
                </div>
            </a>
        </div>

        <!-- END BLOCK : cell_cat_home -->
    </div>

</div>