

{menuleft}

<div class="c20"></div>
<!-- START BLOCK : support_item111  -->
<h2 class="title-left">{_online_support}</h2>
<div class="box-left">

    <div class="support-item">
        <div class="support-name">{name} </div>
        <div class="c5"></div>
        <div style="text-align: center;">
            <a href="skype:{sky}?chat" title="{name}">
                <img src="/images/skype-icon.png"/>
            </a>
        </div>
        <div>Email: {nic} </div>
        <div>Phone: {phone} </div>
    </div>

</div>

<!-- END BLOCK : support_item111  -->

<!-- START BLOCK : advRight -->
<div class="c10"></div>

<!-- START BLOCK : advRightSlide  -->
<div class="qc-right">{image}</div>
<!-- END BLOCK : advRightSlide  -->

<!-- END BLOCK : advRight -->

<!-- START BLOCK : news -->
<div class="box-news-left">
    <h3 class="title-left">
        <a href="{link}">{catname}</a>
    </h3>	   
    <div class="c20"></div>

    <!-- START BLOCK : itemnews -->

    <div class="flex-container flex-space-between">

        <div class="cell-detail-2-5">
            <a href="{link_detail}">{image}</a>
        </div>
        <div class="cell-detail-3-5">
                <a class="news-home-item" href="{link_detail}">{newsname}</a>
        </div>

    </div>    

    <div class="c10"></div>
    <!-- END BLOCK : itemnews --> 


</div>
<div class="c20"></div>
<!-- END BLOCK : news --> 


<!-- START BLOCK : video -->
<div class="c10"></div>
<div class="c20"></div>

<!-- START BLOCK : youtube -->
<div style="position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;"><iframe allowfullscreen="" frameborder="0" height="360" src="//www.youtube.com/embed/{videocode}?modestbranding=1&amp;fs=1&amp;rel=0" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" width="300"></iframe></div>

<h3 class="video-home-name"><a href="{link_detail}"><i class="fa fa-video-camera" aria-hidden="true"></i> {name}</a></h3>
<!-- END BLOCK : youtube -->
<div class="c10"></div>

<!-- START BLOCK : other_video -->
<h3 class="video-name"><a style="font-weight:normal;" href="{link_detail}"> <i class="fa fa-angle-right" aria-hidden="true"></i> {name}</a></h3>
<div class="c10"></div>
<!-- END BLOCK : other_video -->


<!-- END BLOCK : video -->


<div class="c10"></div>
