{pathpage}
<div class="c"></div>
{slideshow}

<!-- START BLOCK : itemList -->


<div class="news-container">
    <div class="grid">
        <div class="flex-container">

            <div class="cell-3-4 tab-cell-1-1">
                <h2 class="homecat-title">
                    <div class="hightlight" style="color: var(--maincolor);"> {catname}</div>  
                </h2>
                <div class="c3"></div>
                {catintro}
                <div class="c5"></div>

                <!-- <div class="tocWrap">
                    <div class="longPageTOC TOCShowHide">
                        Xem nhanh
                    </div>
                    <div class="longPageNavigation"></div>
                </div>
                <script>
                    $(function () {
                        $(".tocContent").LongPageNavigation({ longPageNavigationPosition: "longPageNavigation" });
                        $(".TOCShowHide").click(function () {
                            $(this).toggleClass('collapsed');
                            $(".longPageNavigation").slideToggle();
                        });
                    });

                </script>

                <div class="tocContent">
                    {catcontent}
                </div> -->


                <div class="newshot-wrapper {d-none}">
                    <div class="flex-container">
                        <div class="cell-2-3 tab-cell-1-1">
                            <!-- START BLOCK : newsHotBig -->
                            <div class="newshot-big">
                                <a href="{link_detail}">
                                    {image}
                                </a>
                                <a href="{link_detail}" class="newshot-big--name text-line-2">
                                    {name}
                                </a>

                                <div class="newscat-info">
                                    <a href="{catItemLink}" class="newshot-cat">
                                        {catItemName}

                                    </a>

                                    <span>{createdate}</span>
                                </div>
                            </div>

                            <!-- END BLOCK : newsHotBig -->

                        </div>
                        <div class="cell-1-3 tab-cell-1-1">
                            <h3 class="newswrap-title hide-on-pad hide-on-tab">Bài viết nổi bật</h3>
                            <ul class="newshot-list">
                                <!-- START BLOCK : newsHotItem -->
                                <li>
                                    <a href="{link_detail}">
                                        <label for="">{j}</label>
                                        <span class="text-line-2">{name}</span>
                                    </a>
                                </li>
                                <!-- END BLOCK : newsHotItem -->

                            </ul>
                        </div>
                    </div>
                </div>


                <div class="newslist-wrapper">
                    <div class="c20"></div>
                    <ul class="newslist">
                        <!-- START BLOCK : newsItem -->
                        <li>
                            <div class="flex-container">
                                <div class="cell-4-12 tab-cell-1-1">
                                    <a href="{link_detail}" class="newsimg">
                                        {image}
                                    </a>
                                </div>
                                <div class="cell-8-12 tab-cell-1-1">
                                    <h3 class="newsname text-line-3 m-text-line-2">
                                        <a href="{link_detail}">
                                            {name}
                                        </a>
                                    </h3>
                                    <div class="newscat-info">
                                        <a href="{catItemLink}" class="newshot-cat">
                                            {catItemName}
                                        </a>

                                        <span>{createdate}</span>
                                    </div>

                                    <div class="newscat-intro text-line-4 m-text-line-3">
                                        {intro}
                                    </div>
                                </div>
                            </div>

                        </li>
                        <!-- END BLOCK : newsItem -->

                    </ul>

                    <div class="flex_center">
                        {pages}
                    </div>
                </div>



            </div>

            <!-- <div class="cell-1-4 tab-cell-1-1">
                {leftcol}
            </div> -->
        </div>
    </div>
</div>


<!-- END BLOCK : itemList -->







<!-- START BLOCK : itemDetail  -->



<!-- Tin tức -->


<div class="news-container">
    <div class="grid">
        <div class="flex-container flex-reverse--mb">
            <div class="cell-1-4-sp tab-cell-1-1">
                {leftcol}
            </div>
            <div class="cell-3-4 tab-cell-1-1">
                <div class="newsdetail">
                    <h1 class="newsdetail-name">
                        {name}
                    </h1>
                    <div class="newsdetail-intro">
                        {intro}
                    </div>

                    <div class="tocWrap">
                        <div class="longPageTOC TOCShowHide">
                            Xem nhanh
                        </div>
                        <div class="longPageNavigation"></div>
                    </div>
                    <script>
                        $(function () {
                            $(".tocContent").LongPageNavigation({ longPageNavigationPosition: "longPageNavigation" });
                            $(".TOCShowHide").click(function () {
                                $(this).toggleClass('collapsed');
                                $(".longPageNavigation").slideToggle();
                            });
                        });

                    </script>

                    <div class="tocContent">
                        {content}
                    </div>

                    <div class="c10"></div>

                    <div class="sharethis-inline-share-buttons"></div>

                    <!--
					<meta property="fb:admins" content="100000441129325"/>
					-->
                    <div class="c20"></div>
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous"
                        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v14.0" nonce="PpCC7XAT"></script>
                    <div class="fb-like" data-href="{link_detail}" data-width="" data-layout="button" data-action="like"
                        data-size="small" data-share="true"></div>

                    <div class="c30"> </div>
                    <div class="fb-comments" data-href="{link_detail}" data-width="800" data-numposts="8"></div>
                    <div class="c30"> </div>


                </div>


                <div class="newsothers">
                    <h4 class="titlehnc-left">Bài viết liên quan</h4>
                    <div class="flex-container">
                        <!-- START BLOCK : lstOther -->
                        <div class="cell-1-4 tab-cell-1-1">
                            <div class="newsother-item">
                                <a href="{link_detail}" class="newsother-img">
                                    {image}
                                </a>
                                <a href="{link_detail}" class="newsother-name text-line-2">
                                    {name}
                                </a>
                            </div>
                        </div>
                        <!-- END BLOCK : lstOther -->

                        <div class="cell-1-4"></div>
                        <div class="cell-1-4"></div>
                        <div class="cell-1-4"></div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



<!-- end tin tức -->





<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{site_address}{link_detail}"
    },
    "headline": "{name}",
    "image": [
    "{site_address}{image}"
    ],
    "datePublished": "{createdate}",
    "dateModified": "{createdate}",
    "author": {
    "@type": "Person",
    "name": "Admin"
    },
    "publisher": {
    "@type": "Organization",
    "name": "MrM",
    "logo": {
    "@type": "ImageObject",
    "url": "{site_address}/uploaded/logo/logo.png"
    }
    },
    "description": "{description}"
    }
</script>





<!-- END BLOCK : itemDetail  -->