<div class="tuvan-wrapper">
    <div class="grid">
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
        <h2 class="homecat-title--spc">
            {catname}
        </h2>
        <div class="c10"></div>
        <div class="intro">
            {catintro}
        </div>
        <div class="c30"></div>
        <div class="flex-container flex-centered">
		
			
			<!-- START BLOCK : support_item -->
            <div class="cell-1-4 tab-cell-1-1">
                <div class="tuvan-item">
                    {image}
                    <div class="c10"></div>
                    <a class="tuvan-name">
                        {name}
                    </a>
                    <div class="c"></div>
                    <a href="tel:{phone}" class="tuvan-phone">{phone}</a>
                    <div class="c"> </div>
                    <a href="mailto:{email}" class="tuvan-email">{email}</a>
					
					<div class="c5"> </div>
					
					<div class="flex-container flex-centered">
						<div class="cell-1-5">
							<a href="tel:{phone}" class="tuvan-icon" target="_blank" rel="nofollow">
								<i class="fas fa-phone-alt"></i>
							</a>
						</div>
						
						<div class="cell-1-5">	
							<a href="{zalo}" class="tuvan-icon" target="_blank" rel="nofollow">
								Zalo
							</a>
						</div>
						
						<div class="cell-1-5">	
							<a href="mailto:{email}" class="tuvan-icon" target="_blank" rel="nofollow">
								<i class="far fa-envelope"></i>
							</a>
						</div>
						
					</div>


                </div>
            </div>
			<!-- END BLOCK : support_item -->

        </div>
    </div>
    <div class="c30"></div>
    <div class="c20 hide-on-mobile">

    </div>
</div>