
  <!-- START BLOCK : other_products -->
  <div class="cell-1-3 mobile-cell-1-1 tab-cell-1-2 border-product  margin-bottom-20">
      <div >
          <a href="{link_detail}">{image}</a> 
          <h3 class="product-name"><a href="{link_detail}">{name}</a></h3>
          <div class="c10"></div>
          <div class="ttkhuyenmaicell">{ttkhuyenmai}</div>
          <div class="c10"></div>
          <div class="box-btn-detail-pro">
          <a href="{link_detail}" class="btn-detail-pro">{_viewmore}</a>
          </div>
          <div class="c10"></div>
      </div>
    </div>

  <!-- END BLOCK : other_products --> 
