{slideshow}
<div class="c"></div>
{pathpage}

<div class="c30"></div>

<div class="homecat-title text-center">
    {cat_name}
</div>
<div class="c10"></div>
<div class="homecat-intro">
    {cat_intro}
</div>
<div class="c30"></div>

<!-- START BLOCK : catList -->

<!-- START BLOCK : catItem -->

<div class="customer-wrapper" style="{style}">
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
    <div class="grid">
        <div class="homecat-title text-center">
            {catname}
        </div>
        <div class="c20"></div>
        <div class="flex-container">
            <!-- START BLOCK : partnerITem -->
            <div class="cell-1-6 customer-item tab-cell-1-2">
                {image}
            </div>
            <!-- END BLOCK : partnerITem -->

            <div class="cell-1-6"></div>
            <div class="cell-1-6"></div>
            <div class="cell-1-6"></div>
            <div class="cell-1-6"></div>
            <div class="cell-1-6"></div>

        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>

    </div>
    
</div>
<!-- END BLOCK : catItem -->


<!-- END BLOCK : catList -->