<div id="rightcol">
  <div class="crumb"><a href="/">Trang chủ</a>/{pathpage}</div>

  <h1 class="titlepage">{name}</h1>

  <div>

  	<!-- START BLOCK : list_item -->

  		<div class="newsitem">

        	<a href="{link_detail}">{image}</a>

            <h2 class="itemnamehome"><a href="{link_detail}">{name}</a></h2>

        	<div>{intro}</div>

        </div>

        <div class="c10"></div>

     <!-- END BLOCK : list_item -->

  </div>

  

  	<div class="c10"></div>

     <!-- AddThis Button BEGIN -->

        <div class="addthis_toolbox addthis_default_style ">

            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>

            <a class="addthis_button_tweet"></a>

            <a class="addthis_button_pinterest_pinit"></a>

            <a class="addthis_button_google_plusone" g:plusone:size="medium"></a> 

            <a class="addthis_counter addthis_pill_style"></a>

        </div>

    <!-- AddThis Button END -->

    <div class="c10"></div>

    <div class="titlepage">Các bài viết khác</div>

    <div style="border-bottom:solid 1px #ddd"></div>

    <ul class="otherarticle">

    	<!-- START BLOCK : otherarticle -->

    	<li><a href="{link_detail}">{name}</a></li>

        <!-- END BLOCK : otherarticle -->

    </ul>

</div>

