{slideshow}

<div class="c"></div>
{pathpage}
<div class="c"></div>

<div class="info-home">


    <div class="grid">

        <div class="flex-container flex-space-between">
            <div class="cell-3-4 tab-cell-1-1"> 


                <div class="c20 hide-on-tab hide-on-mobile"></div>    
                <div class="c20"></div>

                <div style="font-size: 35px; font-family: 'Hel'; text-align: center;">{_vui_long_dien_thong_tin}</div>
                <div class="c10"></div>
                <div style="font-size: 18px; font-family: 'Hel-B'; text-align: center; ">{_we_will_contact_you_soon} <br/>
                    {_trong_thoi_gian_som}
                </div>

				<div class="c20"></div>

                <form action="{dir_path}/index4.php?page=contact&lang={lang}" method="post" id="contactform" data-alert="{_ban_can_nhap_thong_tin}" data-captcha ="{_captcha_invalid}" data-success="{_thong_tin_lien_he}" data-redirect="/contact-success/" >

                    <input type="hidden"  name="code" value="save" />     

                    <div class="order-form">

                        <div class="c10"></div>
                        <div class="line-frm">
                            <input name="yourname" type="text" class="txt-contact notNull" placeholder="{_fullname}" id="yourname"  />
                        </div>

                        <div class="line-frm">
                            <input name="phone" type="text" placeholder="{_phone}" class="txt-contact notNull"  />
                        </div>
                        <div class="line-frm">
                            <input name="address" placeholder="{_address}" type="text" class="txt-contact"  />
                        </div>

                        <div class="line-frm">
							<input name="tensanpham" placeholder="Dịch vụ cần tư vấn" type="text" class="txt-contact"  />
                            
                        </div>


                        <div class="line-frm">
                            <input name="other_request" placeholder="{_ghi_chu}" type="text" class="txt-contact"  />
                        </div>
						
                        <div style="position:relative; width: 190px;margin: 0 auto;">
							<input style="height: 35px;" class="txt-contact notNull" placeholder="Enter Captcha" name="sercurity"/>
							<img src="{dir_path}/lib/imagesercurity.php?recaptcha=n" name="imgCaptcha" align="absmiddle" class="imgCaptcha newsletter-capt-img" style="height: 35px; position: absolute; top: 0px; right: 0px; " />

						</div>

                        <div class="c"></div>
                        <input name="input" type="button" onClick="$('#contactform').submit()" class="btn-contact" value="Gửi yêu cầu" />
                        <div class="msgbox" style="font-size: 16px; color:#50b749; "> </div>

                    </div>

                </form>  

                <div class="c20"></div>
                <div class="c30 hide-on-tab hide-on-mobile"></div>

                {contact_content}

                <div class="c20"></div>



            </div>

            <div class="cell-1-4 hide-on-tab hide-on-mobile"> 

                {leftcol}

            </div>

        </div>

    </div>

    <div class="c20"></div>
</div>
<div class="c20"></div>
