<div class="content-body bg-product">
     <div class="grid grid-pad " style="padding-top:0px;">
        <div class="crumb crumb-product hide-on-mobile" style="margin-left:0px">
            <a href="{dir_path}/" >{_home}</a> <i class="fa fa-angle-right"></i> <a href="#">Đăng ký</a>
        </div>
        <div class="col-1-1" style="min-height:480px;">
            <div class="c10"></div>
            <h1 class="page-name">{catname}</h1>
            <div class="c10"></div>
            
            <div class="flex-container-1" >
            	<div class="login-box" style="font-size:16px; font-weight:bold; padding-bottom:5px;">Đăng ký</div>
                <div class="login-box"  style="font-size:16px; font-weight:bold; padding-bottom:5px;">Điều khoản</div>
                <div class="login-box border-box-ccc input-signup" style="padding:15px;">
                    <div class="item-signup"><span>Họ tên</span><input name="" type="text"></div>
                    <div class="c"></div>
                    <div class="item-signup"><span>Điện thoại</span><input name="" type="text"></div>
                    <div class="c"></div>
                    <div class="item-signup"><span>Email</span><input name="" type="text"></div>
                    <div class="c"></div>
                    <div class="item-signup"><span>Mật khẩu</span><input name="" type="text"></div>
                    <div class="c"></div>
                    <div class="item-signup"><span>Nhập lại mật khẩu</span><input name="" type="text"></div>
                    <div class="c"></div>
                    <div class="item-signup">
                    	<span>Quốc gia</span>
                        <select name="coutry">
                        	<!-- START BLOCK : country -->
                        	<option value="{country}">{country}</option>
                            <!-- END BLOCK : country --> 
                        </select>
                    </div>
                    <div class="c"></div>
                    <div class="item-signup"><span>Địa chỉ</span><input name="" type="text"></div>
                    <div class="c"></div>
                    <div class="item-signup"><span>Thông tin khác</span><textarea name="" cols="" rows="5"></textarea></div>
                    <div class="c"></div>
                    <div class="item-signup">
                    	<span>Captcha</span><input style="width:80px;" name="" type="text">
	                    <img src="{dir_path}/lib/imagesercurity.php" style="height:28px; margin-left:5px;" name="imgCaptcha" align="absmiddle" id="imgCaptcha" />
                    </div>
                    <div class="c"></div>
                    <div class="item-signup">
                    	<span>&nbsp;</span>
	                    <a class="btn-signup-signin" href="#">Đăng ký</a>
                    </div>
                    
                </div>
              <div class="login-box border-box-ccc inputlogin" style="padding:15px;">
              		Bằng cách tạo một tài khoản với cửa hàng của chúng tôi, bạn sẽ có thể di chuyển thông qua các quy trình kiểm tra nhanh hơn, lưu trữ nhiều địa chỉ gửi hàng, xem và theo dõi đơn đặt hàng của bạn trong tài khoản của bạn và nhiều hơn nữ
              </div>
           
            </div>
        </div>
	</div>
</div>
    