<div class="content-body bg-product">
     <div class="grid grid-pad " style="padding-top:0px;">
        <div class="crumb crumb-product hide-on-mobile" style="margin-left:0px">
            <a href="{dir_path}/" >{_home}</a> <i class="fa fa-angle-right"></i> <a href="#">Đăng ký</a>
        </div>
        <div class="col-1-1" style="min-height:480px;">
            <div class="c10"></div>
            <h1 class="page-name">{catname}</h1>
            <div class="c10"></div>
            
            <div class="flex-container-1" >
            	<div class="login-box" style="font-size:16px; font-weight:bold; padding-bottom:5px;">Khách hàng mới</div>
                <div class="login-box"  style="font-size:16px; font-weight:bold; padding-bottom:5px;">Thông tin đăng nhập</div>
                <div class="login-box border-box-ccc" style="padding:15px;">
                	Bằng cách tạo một tài khoản với cửa hàng của chúng tôi, bạn sẽ có thể di chuyển thông qua các quy trình kiểm tra nhanh hơn, lưu trữ nhiều địa chỉ gửi hàng, xem và theo dõi đơn đặt hàng của bạn trong tài khoản của bạn và nhiều hơn nữ
                </div>
              <div class="login-box border-box-ccc inputlogin" style="padding:15px;">
                	<div style="padding-bottom:10px; font-weight:bold" >Nếu bạn đã có tài khoản vui lòng đăng nhập tại đây</div>
                    <div>Địa chỉ Email *</div>
                    <div><input name="" type="text"></div>
                    <div>Mật khẩu *</div>
                    <div><input name="" type="password"></div>
              </div>
              	
            <div class="login-box" align="right"><a class="btn-signup-signin" href="#">Đăng ký</a></div>
            <div class="login-box" align="right" ><a class="btn-signup-signin" href="#">Đăng nhập</a></div>
            </div>
        </div>
	</div>
</div>
    