<!-- START BLOCK : show_slideshow -->

<div class="swiper-container" id="slidemobile">
    <div class="swiper-pagination"></div>

    <div class="swiper-wrapper"> 
        <!-- START BLOCK : slide_home_item -->

        <div class="swiper-slide" style="position:relative; overflow: hidden;">
            {image}

            <!-- <div style="position:relative; z-index: 9; ">
                <div class="slide-home-item">
                    <h2>{name}</h2>
                    <div class="c10"></div>
                    <div class="slide-home-desc">
                        {description}
                    </div>
                    <div class="c10"></div>
                </div>
                
                <a class="slide-detail " href="{link}" target="{target}">Xem chi tiết</a>
               

            </div>
            <div class="c"></div>
            <div class="item-overlay"></div> -->
        </div>            
        <!-- END BLOCK : slide_home_item -->      
    </div>
    <div class="c"></div> 
</div>

<div class="c"></div>
<script>
    $(function () {
        var swiper_slidemobile = new Swiper('#slidemobile', {
            loop: true,
            slidesPerView: 1,
            autoplay: {
                delay: 3000000,
                disableOnInteraction: false,
            },
            spaceBetween: 0,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            speed: 500,
            spaceBetween: 0,
        });
    });
</script>
<!-- END BLOCK : show_slideshow -->


<!-- START BLOCK : slidechild -->
<div class="img-poster" style="position:relative">

    <!-- START BLOCK : piccat -->
    <a class="hide-on-tab" href="{name}">
        {image}
    </a>
    <!-- END BLOCK : piccat --> 

    <!-- START BLOCK : pic_mobile -->
    <a  class="hide-on-pc hide-on-pad" href="{name}">
        {image}
    </a>
    <!-- END BLOCK : pic_mobile --> 



    <!-- START BLOCK : slidecat -->
    <div style="position: relative;">
        <div class="swiper-container" id="slide_cat">
            <div class="homeslide-next">  </div>
            <div class="homeslide-prev">  </div>
            <div class="swiper-wrapper"> 
                <!-- START BLOCK : list_slide -->
                <div class="swiper-slide" style="position:relative">

                    <a href="{link}" target="{target}">{image}</a>
                </div>
                <!-- END BLOCK : list_slide -->      
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var swiper_slide_cat = new Swiper('#slide_cat', {
                loop: true,
                slidesPerView: 1,
                autoplay: {
                    delay: 2200,
                    disableOnInteraction: false,
                },
                spaceBetween: 10,
                navigation: {
                    nextEl: '.homeslide-prev',
                    prevEl: '.homeslide-next',
                },
                speed: 500,
                spaceBetween: 0,
            });
        });
        $('#slide_cat').on('mouseover', function () {
            swiper_slide_cat.autoplay.stop();
        });
        $('#slide_cat').on('mouseout', function () {
            swiper_slide_cat.autoplay.start();
        });
    </script>    
    <!-- END BLOCK : slidecat --> 
</div>
<!-- END BLOCK : slidechild --> 