 <div class="crumb"><a href="/{lang_dir}">Trang chủ{_home}</a> <i class="fa fa-angle-right"></i> {pathpage} </div>  
<div class="c5"></div>
<div class="col-3-4 cright">
    <div class="border-ccc">
		<div class="c5"></div>
	    <div class="borderboxgray" style="position:relative" id="boxdownload">
			<div class="tabledownload">
            	<div class="cell-d-1 title">{_ngay}</div>
                <div class="cell-d-2 title">{_phongban}</div>
                <div class="cell-d-3 title">{_tentailieu}</div>
                <div class="cell-d-2 title">Download</div>
                 <!-- START BLOCK : newsCat -->	
                    <div class="col-1-1">
                        <div class="c20"></div>
                        <div>{cat_content}</div>
                    </div>
                    <div class="news-lst">
                        <!-- START BLOCK : news_list -->
                        <div class="item-news">
                            <div class="cell-d-1">{createdate}</div>
                                <div class="cell-d-2" style="text-align:center">{catname}</div>
                                <div class="cell-d-3"><a href="{link_detail}" target="_blank" title="{name}">{name}</a></div>
                                <div class="cell-d-2">ádasd</div>
                        </div>
                        <!-- END BLOCK : news_list -->
                    </div>
                    <div class="c10"></div>
                    <div class="paging">{pages}</div>
                <!-- END BLOCK : newsCat -->
            </div>
        </div>
        
</div></div>    
