
{slideshow}
<div class="c"></div>
{pathpage}

<div class="c10"></div>
<div class="c20"></div>

<!-- START BLOCK : catList  -->

<div class="grid">
    <h1 class="title-page" style="text-align:center">{catname}</h1>
    <div class="c10"></div>
    <div class="c20"></div>
    <div>
        {catcontent}

    </div>
    <div class="c20"></div>
</div>


<!-- START BLOCK : catItem  -->

<div class="info-wrapper">
    <div class="grid">

        <div class="flex-container flex-space-between">

            <div class="cell-1-1 hide-on-pc hide-on-pad">
                <a href="{link}">{image}</a>
            </div>

            <!-- START BLOCK : imgleft  -->
            <div class="cell-1-4 tab-cell-1-1 hide-on-tab hide-on-mobile">
                <div class="img-circle wow fadeInLeft animated">
                    <a class="grow" href="{link}">{image}</a>

                </div>
            </div>

            <div class="cell-3-4 tab-cell-1-1">
                <div class="">
                    <h2 class="sub-title-page wow fadeInRight animated" style="float:right; text-align:right">
                        <a class="grow" href="{link}">{name}</a>
                    </h2>
                    <div class="c10"></div>
                    <div class="c10"></div>
                    <div class="cat-item-info wow zoomIn animated2">
                        {content}
                        <div class="c10"></div>
                        <a href="{link}">{_viewmore}</a>
                    </div>
                </div>
            </div>

            <!-- END BLOCK : imgleft  -->

            <!-- START BLOCK : imgright  -->
            <div class="cell-3-4 tab-cell-1-1">
                <div class="">
                    <h2 class="sub-title-page wow fadeInLeft animated" style="float:left; text-align:left">
                        <a class="grow" href="{link}">{name}</a>
                    </h2>
                    <div class="c10"></div>
                    <div class="c10"></div>
                    <div class="cat-item-info wow zoomIn animated2">
                        {content}
                        <div class="c10"></div>
                        <a href="{link}">{_viewmore}</a>
                    </div>
                </div>
            </div>

            <div class="cell-1-4 tab-cell-1-1 hide-on-tab hide-on-mobile">
                <div class="img-circle wow fadeInRight animated">
                    <a class="grow" href="{link}">{image}</a>
                </div>
            </div>
            <!-- END BLOCK : imgright  -->


        </div>

    </div>
    <div class="c"></div>
</div>
<!-- END BLOCK : catItem  -->
<div class="c20"></div>
<!-- END BLOCK : catList  -->

<!-- START BLOCK : itemList  -->
<div class="grid">
    <div class="flex-container flex-space-between">

        <div class="cell-3-4 tab-cell-1-1"> 
            <h1 class="title-page">{catname}</h1>
            <div class="c10"></div>
            <div class="c10"></div>
            <div >
                {catcontent}
            </div>

            <div class="c20"></div>


            <!-- Bảng danh sách tuyển dụng -->
            <div class="tuyendung-table">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-list">
                    <tbody>
                        <tr>
                            <th width="10%">STT</th>
                            <th width="30%">Vị trí tuyển dụng</th>
                            <th width="15%">Số lượng</th>
                            <th width="45%">Địa điểm</th>
                        </tr>

                        <!-- START BLOCK : newsItem  -->
                        <tr>
                            <td>{stt}</td>
                            <td><a class="news-name" href="{link_detail}"> {name} </a> </td>
                            <td>{soluong}</td>
                            <td>{noilamviec}</td>

                        </tr>
                        <!-- END BLOCK : newsItem  -->

                    </tbody>
                </table>
            </div>
            <div class="c50"></div>
            <!-- end bảng danh sách tuyển dụng -->                         

        </div>

        <div class="cell-1-4 tab-cell-1-1"> 
            {leftcol}
        </div>        

    </div>


    <div class="c20"></div>
    <div class="c20"></div>        

    <div class="c20"></div>
</div>


<!-- END BLOCK : itemList  -->


<!-- START BLOCK : itemDetail  -->
<div class="grid">

    <div class="flex-container flex-space-between">
        <div class="cell-3-4 tab-cell-1-1">

            <h1 class="title-page" style="text-align: left;"><span>{name}</span></h1>

            <div class="c10"></div>
            <div class="c30 hide-on-tab hide-on-mobile"></div>

            <div class="c20"></div>

            <div class="box-tuyendung" >
                <h3 class="box-tuyendung-title">Thông tin công ty</h3>

                <div class="c10"></div>
                {intro}

                <div class="c10"></div>
            </div>
            
            <div class="c10"></div>

            <div class="box-tuyendung" >
                <h3 class="box-tuyendung-title">Thông tin tuyển dụng</h3>
                <div class="c10"></div>
                {content}

                <div class="c10"></div>
            </div>        

            <div class="c20"></div>
            <a class="js-open-modal btn-contact" href="#" data-modal-id="popup_tuyendung"> Đăng ký ứng tuyển </a>


            <div class="c20"></div>
            <script type="application/ld+json">
                {
                "@context": "http://schema.org",
                "@type": "NewsArticle",
                "mainEntityOfPage":{
                "@type":"WebPage",
                "@id":"{site_address}{link_detail}"
                },
                "headline": "{name}",
                "image": {
                "@type": "ImageObject",
                "url": "{site_address}{image}",
                "height": 600,
                "width": 800
                },
                "datePublished": "{create_date}",
                "dateModified": "{create_date}",
                "author": {
                "@type": "Person",
                "name": "{user}"
                },
                "description": "{description}"
                }
            </script>
            <div class="c20"></div>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style "> 
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> 
                <a class="addthis_counter addthis_pill_style"></a> </div>
            <!-- AddThis Button END -->

            <div class="c30"></div>
            <h3 class="title-other-news" ><a>{_othernews}</a></h3>

            <div class="c10"></div>
            <ul class="other-article">
                <!-- START BLOCK : lstOther -->
                <li> <a class="news-name" href="{link_detail}">{name}</a> </li>
                <!-- END BLOCK : lstOther --> 
            </ul>
            <div class="c10"></div>            

        </div>
        <div class="cell-1-4 hide-on-mobile"> 
            {leftcol}
        </div>
    </div>

</div>

<div id="popup_tuyendung" class="modal-box">
    <header> 
        <h3 style="color: #ab9c8b;">Nộp hồ sơ ứng tuyển</h3>
        <a href="#" style=" font-size: 16px;" class="js-modal-close close btn-close">[X]</a>
    </header>

    <div class="modal-body">


        <div class="td-form">
            <form action="{dir_path}/index4.php?page=tuyendung" method="post" id="tuyendungForm" enctype="multipart/form-data" onSubmit="return check_null_td();">
                <input type="hidden" name="id_tuyendung" value="{link_detail}" />
                <input type="hidden" name="code" value="save" />
                <div class="tb_td">

                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg" style="font-weight: 600;">Vị trí ứng tuyển: </div>
                        <div class="td_td">{name}</div>
                    </div>
                    <div class="c10"></div>
                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg" style="font-weight: 600;">Nơi công tác: </div>
                        <div class="td_td">Hà nội</div>
                    </div>
                    <div class="c10"></div>

                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg title-frm-reg2">
                            <span style="font-weight: 600;">Thông tin liên hệ của bạn: </span>  

                        </div>
                        <div class="td_td hide-on-tab hide-on-mobile"></div>
                    </div>

                    <div class="c10"></div>
                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg">{_fullname} (<span>*</span>)</div>
                        <div class="td_td"><input class="txt-contact txt notNull" name="td_name" type="text"></div>
                    </div>
                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg">Email (<span>*</span>)</div>
                        <div class="td_td"><input class="txt-contact txt notNull" name="td_email" type="text"></div>
                    </div>
                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg">{_phone} (<span>*</span>)</div>
                        <div class="td_td"><input class="txt-contact txt notNull" name="td_phone" type="text"></div>
                    </div>


                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg">{_attach_file}</div>
                        <div class="td_td"><input type="file" style="border: none; height: 25px; margin-top: 5px;" name="td_file"></div>
                    </div>



                    <div class="tr_td"  id="message_alert" style="display:none;">
                        <div class="td_td1">&nbsp;</div>
                        <div class="td_td red" id="message_text">

                        </div>
                    </div>
                    <div class="tr_td">
                        <div class="td_td1 title-frm-reg">&nbsp;</div>
                        <div class="td_td">
                            <a href="#" onClick="$('#tuyendungForm').submit(); return false" class="btn-submit-tuyendung">Nộp hồ sơ</a>
                        </div>
                    </div>

                    <div class="c20"></div>

                </div>
            </form>

        </div>

    </div>
</div>



<script>
    $(function () {

        var appendthis = ("<div class='modal-overlay js-modal-close'></div>");

        $('a[data-modal-id]').click(function (e) {
            e.preventDefault();
            $("body").append(appendthis);
            $(".modal-overlay").fadeTo(500, 0.7);
            //$(".js-modalbox").fadeIn(500);
            var modalBox = $(this).attr('data-modal-id');
            $('#' + modalBox).fadeIn($(this).data());
        });


        $(".js-modal-close, .modal-overlay").click(function () {
            $(".modal-box, .modal-overlay").fadeOut(500, function () {
                $(".modal-overlay").remove();
            });
            return false;
        });

        $(window).resize(function () {
            $(".modal-box").css({
                top: ($(window).height() - $(".modal-box").outerHeight()) / 2,
                left: ($(window).width() - $(".modal-box").outerWidth()) / 2
            });
        });

        $(window).resize();

    });
</script>

<script>

    function check_null_td() {


        ok = true;
        $('#tuyendungForm .notNull').removeClass("error");
        $('#tuyendungForm .notNull').each(function () {
            if ($(this).val() == '') {
                $(this).addClass("error");
                ok = false;
            }
        });


        if (ok == true) {
            $('#tuyendungForm').append('<div class="ajax-loading"><i class="fa fa-spinner fa-spin"></i></div>');
            $('#tuyendungForm').ajaxSubmit({
                target: '#tuyendungForm',
                success: function (data) {
                    $('.ajax-loading').remove();
                    $('#imgCaptcha').attr('src', '{dir_path}/lib/imagesercurity.php?x');

                }

            });
            return false;
        } else {
            $('#message_alert').show();
            $('#message_alert #message_text').html('<i class="fa fa-warning"></i> Bạn cần nhập đủ thông tin vào những trường bôi đỏ !');
        }
        return ok;
    }

</script>



<!-- END BLOCK : itemDetail  -->

<div class="c30"></div>
<div class="c20"></div>






