
@font-face {
  font-family: 'UTMOngDoGia';
  src: url('UTMOngDoGia.eot?#iefix') format('embedded-opentype'),  url('UTMOngDoGia.woff') format('woff'), url('UTMOngDoGia.ttf')  format('truetype'), url('UTMOngDoGia.svg#UTMOngDoGia') format('svg');
  font-weight: normal;
  font-style: normal;
}
